<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotorCalibrationLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MotorCalibrationLogger.Properties.Settings>
            <setting name="COM_Port" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="COM_Baud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="COM_Parity" serializeAs="String">
                <value>n</value>
            </setting>
            <setting name="COM_Bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COM_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>c:\data\test\calibration.csv</value>
            </setting>
            <setting name="Console" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxSamples" serializeAs="String">
                <value>20000</value>
            </setting>
        </MotorCalibrationLogger.Properties.Settings>
    </applicationSettings>
</configuration>